---
import IndexLayout from '../Layouts/IndexLayout.astro'
import { Image } from 'astro:assets'
import index1 from '../../src/images/index1.jpg'
import js1 from '../images/js1.jpg'
import js2 from '../images/js2.jpg'
import js3 from '../images/js3.jpg'
import js4 from '../images/js4.jpg'
import BlogPostCard from '../components/BlogPostCard.astro'
import ContactForm from '../components/ContactForm.astro'
---
<IndexLayout title="Home">
	<div class="main-intro">

	</div>
</IndexLayout>

<style>
	.main-intro{
		display:grid
	}
</style>