---

---

<section>
    <div>
        <h2>
            Let's Work Together
        </h2>
        <div>
            Icons Here with links to LinkedIn, Github, Mail
        </div>
    </div>
    <div>
        <form name="contact" method="POST" data-netlify="true">
            <input type="text" placeholder="Enter Your Name" id="name" />
            <br />
            <input type="email" placeholder="Your Email Address" id="email" />
            <br />
            <textarea placeholder="What can I do for you?" id="message" />
            <br />
            <button type="submit">Send</button>
        </form>
    </div>
</section>

<style>
    section{
        display:grid;
        grid-template-columns: 50% 50%;
        margin:5% 24dvw;
    }

    form input, form textarea{
        border:none;
        border-bottom: 1px solid black;
        margin:10px;
    }
</style>