---

---

<footer>
    Copyright &copy; <span id="date"></span>| All Rights Reserved | Made with Astro.js
</footer>

<script>
    document.getElementById("date").innerText=new Date().getFullYear().toString();
</script>

<style>
    footer{
        text-align:center;
    }
</style>