---

---

<navbar>
    <div class="sidebar">
        <div class="vertical-line"></div>
        <a href="#">Discord</a>
        <a href="#">Discord</a>
        <a href="#">Discord</a>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Me</a></li>
        <li><a target="_new" href="https://agigabyte.com/">Portfolio</a></li>
        <li><a target="_new" href="../src/Frontend Developer Akshay.pdf">Resume</li>
    </ul>
</navbar>

<style>
    navbar{
        display:inline-block;
    }
    navbar ul{
        width:90dvw;
        display:inline-flex;
        justify-content:flex-end;
        list-style-type:none;
    }
    navbar ul li{
        padding-right:2dvw
    }
    a{
        text-decoration: none;
        color:black;
    }

    .sidebar{
        height: 100%;
        width: 80px;
        position: fixed;
        z-index: 1;
        top:0;
        display: flex;
        flex-direction: column;
    }

    .vertical-line{
        width:20px;
        height:200px;
        border-right: 1px solid black;
    }
</style>